
<div *ngIf="weatherNow" class="content">
    <div>
    <div class="time">
       <h2>{{ currentTime | date:"HH:mm - EE MMM"}}</h2> 
    </div>
    <div class="location">
        {{ location.name }} , {{ location.country }}
    </div>
    </div>
    <div class="temp">
        <span><img src=" assets/images/{{weatherNow.weather[0].icon}}.png " alt=""></span>
        
        <h3>{{ weatherNow.main.temp |number:'1.0-0'}} °F &nbsp;</h3><br/>
        <h2>temparature.</h2>
    </div>
    <div class="details">
        <div class="main">
            Feels Like {{ weatherNow.main.feels_like|number:'1.0-0'}}°F.{{weatherNow.weather[0].main}}.{{weatherNow.weather[0].description}}
        </div>
        <div class="sub">
            Humidity : {{weatherNow.main.humidity}}%
        </div>
    </div>
    
</div>
<div class="timeline content">
    <h1>hourly forecast</h1>
    <div *ngFor="let item of timeline">
        <div>{{ item.time | date:'HH-mm' }}&nbsp;</div>
        <div>{{ item.temp | number:'1.0-0' }} °F &nbsp;</div>
        <pre>&nbsp;</pre>
    </div>
</div>